<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Yakın Tahmin Oyunu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>En Yakın Tahmin Oyunu</h1>
        <div id="login" class="mt-4">
            <form id="createForm">
                <input type="text" id="username" class="form-control" placeholder="Kullanıcı Adı" required><br>
                <input type="number" id="credits" class="form-control" placeholder="Kredi Miktarı" required><br>
                <input type="number" id="bet" class="form-control" placeholder="Bahis Miktarı" required><br>
                <select id="topic" class="form-control">
                    <option value="Sport">Spor</option>
                    <option value="History">Tarih</option>
                    <option value="Geography">Coğrafya</option>
                    <option value="General Culture">Genel Kültür</option>
                    <option value="Science">Bilim</option>
                    <option value="Movies and TV Series">Filmler ve Diziler</option>
                </select><br>
                <button type="submit" class="btn btn-primary mt-2">Lobi Oluştur</button>
            </form>
            <a href="/lobbies" class="btn btn-secondary mt-2">Lobileri Gör</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        const form = document.getElementById('createForm');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const username = form.username.value;
            const credits = form.credits.value;
            const bet = form.bet.value;
            const topic = form.topic.value;

            fetch('/create_lobby', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: `username=${username}&credits=${credits}&bet=${bet}&topic=${topic}`
            })
            .then(response => response.json())
            .then(data => {
                sessionStorage.setItem('username', data.username);
                sessionStorage.setItem('credits', data.credits);
                window.location.href = `/lobby/${data.lobby_id}`;
            })
            .catch(error => console.error('Hata:', error));
        });
    </script>
</body>
</html>